*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}



body{
	background: lightpink;
	text-align: center;
	font-family: Times, sans-serif;
}

h1 {
	font-size: 38px;
	font-weight: bold;
}

h2{
	font-size: 22px;
	color: rebeccapurple;
	text-transform: uppercase;
}


img{
	width: 150px;
	border-radius: 20px;
}

.card{
	background-color: white;
	border: lightslategrey;
	margin: 40px auto;
	padding: 40px 0;
	text-align: center;
	max-width: 600px;
	box-shadow: 5px 5px 10px lightslategrey;
	border-radius: 10px;
}

.button {

	background-color: lightgrey;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 8px;
	margin: 12px;
	border-radius: 10px;
}

.button:hover{
	background-color: lightslategrey;
}

.intro{
	margin: 32px 0;
}

li{
	list-style-type: none;
	width: 50px;
	font-size: 40px;
}

li:hover{
	color: lightgrey;
}
ul{
	display: inline-flex;
}

div{
	margin: 0 auto;
}
i{
	color: lightgrey;
}
i:hover{
	color: lightslategrey;
	transform: scale(1.3);
	transition:0.5s ease;
}
@media (max-width: 720px){
	.container{
		width: 500px;
	}
}

@media (max-width: 500px){
	.container{
		width: 400px;
	}
}

